:root {
  --primary-bg-color: #0455bf;
  --primary-text-color: #fff;
  --secondary-bg-color: #012c65;
  --secondary-bg-faded: rgba(1, 44, 101, 0.267);
  --secondary-text-color: #fff;
  --tertiary-bg-color: #88d4f2;
  --tertiary-bg-faded: rgba(136, 212, 242, 0.35);
  --tertiary-text-color: #fff;
  --accent-bg-color: #85d3f2;
  --accent-text-color: #fff;
  --base-dark-bg-color: #0d0d0d;
  --base-light-bg-color: #f2f2f2;
}
